﻿<%@ Page Title="" Language="C#" AutoEventWireup="true" CodeBehind="reportSummary.aspx.cs" Inherits="BCTrackingWeb.reportSummary" %>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/metro.min.css">
    <link href="css/metro-icons.css" rel="stylesheet">
    <link href="css/metro-responsive.min.css" rel="stylesheet">
    <link href="css/metro-schemes.css" rel="stylesheet">
       <br /><br /><br /><br /><br />

    <div class="container page-content">
        
        
        <div class="loader"></div>
        <div>
            <ul class="breadcrumbs mini">
                <li><a href="Home.aspx"><span class="icon mif-home"></span></a></li>
                <li><a href="Reports.html"><span>Reports</span></a></li>
                <li><a href="reportSummary.html"><span>Summary Reports</span></a></li>
            </ul>
        </div>
  <br>
        
        <div class="tile-area no-padding">
            <div class="tile-container">
                <a href="reportbetween.aspx">
                    <div class="tile bg-blue fg-white tile-wide">
                        <div class="tile-content iconic">
                            <span class="icon glyphicon glyphicon-stats"></span>
                            <span class="tile-label align-center">Allotment between dates</span>
                        </div>
                    </div>
                </a>
                <a href="unallocated.aspx">
                    <div class="tile bg-green fg-white tile">
                        <div class="tile-content iconic">
                            <span class="icon glyphicon glyphicon-question-sign"></span>
                            <span class="tile-label align-center">Former BC</span>
                        </div>
                    </div>
                </a>
                <a href="blacklistedBcGraph.aspx">
                    <div class="tile bg-green fg-white tile">
                        <div class="tile-content iconic">
                            <span class="icon mif-not"></span>
                            <span class="tile-label align-center">Black listed BC</span>
                        </div>
                    </div>
                </a>
                <a href="activeBcGraph.aspx">
                    <div id="ActInactBc" class="tile bg-red fg-white tile">
                        <div class="tile-content iconic">
                            <span class="icon mif-not"></span>
                            <span class="tile-label align-center">Active/Inactive BC</span>
                        </div>
                    </div>
                </a>


                <a href="areaWiseAllocationBetweenDate.aspx">
                    <div class="tile bg-teal fg-white tile-wide">
                        <div class="tile-content iconic">
                            <span class="icon glyphicon glyphicon-eye-open"></span>
                            <span class="tile-label align-center">Area wise BC Between Dates</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <br>

    </div>
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/metro.min.js"></script>
    <script src="js/main.js" type="text/javascript"></script>

    <!--<script src="js/getbc.js" type="text/javascript"></script>-->

