<div class="example">
            <form class="form-horizontal">
                <br>
                <div class="bs-callout bs-callout-info" id="callout-alerts-dismiss-plugin">
                    <h4>Personal Details</h4> </div>
                <hr>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Name" value="Bc 1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Phone Number" value="1233123112">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail4" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" value="a@b.co">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail7" class="col-sm-2 control-label">Date Of Birth</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="inputEmail7" placeholder="Date of Birth" value="1992-03-26">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail5" class="col-sm-2 control-label">Aadhar Card</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail5" placeholder="Aadhar Card Number" value="AA1231A21">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail6" class="col-sm-2 control-label">Pan Card</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail6" placeholder="Pan Card Number" value="SASDWQ123A">
                    </div>
                </div>
                <br>
                <div class="bs-callout bs-callout-info" id="callout-alerts-dismiss-plugin">
                    <h4>Associated Bank Detail</h4> </div>
                <hr>
                <div class="form-group">
                    <label for="inputEmail6" class="col-sm-2 control-label">IFSC Code</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail6" placeholder="IFSC Code" value="SBIN4421232" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail6" class="col-sm-2 control-label">Bank Name</label>
                    <div class="col-sm-10">
                        <select class="form-control" disabled>
                            <option>State Bank of India</option>
                            <option>Bank of Baroda</option>
                            <option>Axis Bank</option>
                            <option>Union Bank of India</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail6" class="col-sm-2 control-label">Circle</label>
                    <div class="col-sm-10">
                        <select class="form-control" disabled>
                            <option class="dissolv" value="1">Navi Mumbai</option>
                            <option class="dissolv" value="6">Thane</option>
                            <option class="dissolv" value="9">Mumbai</option>
                            <option class="dissolv" value="13">Pune</option>
                            <option class="dissolv" value="16">Nanded</option>
                            <option class="dissolv" value="18">Nashik</option>
                            <option class="dissolv" value="21">Sindhudurg</option>
                            <option class="dissolv" value="23">UDUPI</option>
                            <option class="dissolv" value="26">Raigad</option>
                            <option class="dissolv" value="28">Ahmednagar</option>
                            <option class="dissolv" value="30">Aurangabad</option>
                            <option class="dissolv" value="33">Ahmedabad</option>
                            <option class="dissolv" value="3242">Varanasi</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail6" class="col-sm-2 control-label">State</label>
                    <div class="col-sm-10">
                        <select class="form-control" disabled>
                            <option class="dissolv" value="2">Maharashtra</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail6" class="col-sm-2 control-label">Zone</label>
                    <div class="col-sm-10">
                        <select class="form-control" disabled>
                            <option class="dissolv" value="3">NMZ</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail6" class="col-sm-2 control-label">Region</label>
                    <div class="col-sm-10">
                        <select class="form-control" disabled>
                            <option class="dissolv" value="4">Navi Mumbai</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail6" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        <select class="form-control" disabled>
                            <option class="dissolv" value="5">Urban</option>
                            <option class="dissolv" value="32">Semi Urban</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail6" class="col-sm-2 control-label">Branch</label>
                    <div class="col-sm-10">
                        <select class="form-control" disabled>
                            <option class="dissolv" value="5">Branch1</option>
                            <option class="dissolv" value="32">branch2</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="bs-callout bs-callout-info" id="callout-alerts-dismiss-plugin">
                    <h4>Allotted Area details</h4> </div>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="inputEmail6" class="col-sm-2 control-label">Village Code</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="villageCode" placeholder="Enter Village Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail6" class="col-sm-2 control-label">Village Detail</label>
                            <div class="col-sm-10">
                                <textarea name="villageDetail" id="villageDetail" class="form-control" rows="4" disabled placeholder="Village Detail"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-9">
                                <input type="button" class="pull-right btn btn-danger" id="addMoreButton" value="Add More">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <table id="example" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Village Code</th>
                                <th>Village Detail</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SASDAW123</td>
                                <td>Village1, Area 1, UP</td>
                                <td>delete</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br>
                <div class="bs-callout bs-callout-info" id="callout-alerts-dismiss-plugin">
                    <h4>Certification Details</h4> </div>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="inputEmail6" class="col-sm-2 control-label">Certification Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="certificateDate" placeholder="Enter Certification Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail6" class="col-sm-2 control-label">Certification Authority</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="certificateAuth">
                                    <option class="dissolv" value="Authority 1">Authority 1</option>
                                    <option class="dissolv" value="Authority 2">Authority 2</option>
                                    <option class="dissolv" value="Authority 3">Authority 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-9">
                                <input type="button" class="pull-right btn btn-danger" id="addMoreButton2" value="Add More">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <table id="example2" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Certification Date</th>
                                <th>Certification Authority</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2012-02-21</td>
                                <td>Authority 1</td>
                                <td>delete</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                    
                <div class="form-group center-block">
                    <div class="center-block">
                        <button type="submit" class="btn btn-default center-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>